<%= form_for(@basket) do |f| %>
  <% if @basket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basket.errors.count, "error") %> prohibited this basket from being saved:</h2>

      <ul>
      <% @basket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!--Associations-->
<!--     <div class = "row">
      <div>
        <%# f.label :agent_id %>
        <%# f.collection_select :agent_id, Agent.active.alphabetical, :id, lambda { |c| c.proper_name}, include_blank: true %>
      </div>
    </div> -->

    <!-- Items -->
    <div class = "row">
      <table>
        <thead>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </thead>
        <% @basket_items_in_cart.each do |bi| %>
        <tr>
          <td><%= link_to bi.item.name, item_path(bi.item) %></td>
          <td><%= bi.item.category.name %></td> 
          <td>
            <%= bi.quantity %>
          </td>
          <td><%= link_to '<i class="mdi-navigation-close"></i>'.html_safe, remove_item_path(bi.item.id), class: "waves-effect waves-light btn-floating deep-orange darken-4 tooltipped", data: {position: 'right', tooltip: 'Remove from Cart'}%></td>
        </tr>
        <% end %>
      </table>
    </div>

    <!--Submit -->
    <div class="form-actions">
      <%= f.submit nil, class: 'btn deep-orange lighten-3' %>
      <%= link_to 'Cancel', show_cart_path, :class => 'btn deep-orange lighten-3' %>
    </div>

<!--   <div class="field">
    <%# f.label :checkout_date %><br>
    <%# f.date_select :checkout_date %>
  </div>
  <div class="actions">
    <%# f.submit %>
  </div> -->
<% end %>
