<div class = "row valign-wrapper">
	<h4 class="col s4 valign">Cart <i class = "mdi-action-shopping-cart"></i></h4>
	<% if ! @basket_items_in_cart.empty? %>
	<%= link_to "Clear Cart", clear_cart_path, class: "waves-effect waves-light btn col s3 offset-s1 valign orange" %>
	<%= link_to "Checkout", new_basket_path, class: "waves-effect waves-light btn col s3 offset-s1 valign teal green" %>
	<% end %>
</div>

<% if @basket_items_in_cart.empty? %>
	There are no items in cart at this time
<%else%>
	<table>
		<thead>
			<th>Item Name</th>
			<th>Category</th>
			<th>Quantity</th>
		</thead>
		<% @basket_items_in_cart.each do |bi| %>
		<tr>
			<td><%= link_to bi.item.name, item_path(bi.item) %></td>
			<td><%= bi.item.category.name %></td> 
			<td><%= bi.quantity %></td>
			<td><%= link_to '<i class="mdi-navigation-close"></i>'.html_safe, remove_item_path(bi.item.id), class: "waves-effect waves-light btn-floating deep-orange darken-4 tooltipped", data: {position: 'right', tooltip: 'Remove from Cart'}%></td>
		</tr>
		<% end %>
	</table>
<% end %>
<br>
<%= link_to "Back to Item Listings", items_path, class: "waves-effect waves-light btn valign purple lighten-5 light-blue-text text-darken-4" %>
