<p id="notice"><%= notice %></p>
<p>
  <strong>Code:</strong>
  <%= @item.barcode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>


<p>
  <strong>Category:</strong>
  <% if !@item.category.nil? %>
    <%= @item.category.name %>
  <% else %>
    <td></td>
  <% end %>
</p>


<p>
  <strong>Gender:</strong>
  <%= @item.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @item.age %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Donated:</strong>
  <%= @item.donated %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>


<%= form_tag check_in_path, :method => 'get' do%>
  <%= hidden_field_tag :id, params[:id] %>
  <strong>Increase quantity by:</strong>
  <%= number_field_tag :increase, 1%>
  <%= submit_tag "Increase", class: 'pink waves-effect waves-light btn' %>
<% end %>