<%= simple_form_for @item, html: { class: 'form-horizontal' } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.input :name, input_html: {class: "avg"} %>
    <%= f.select :gender, Item::GENDER_LIST %>
    <%= f.select :age, Item::AGE_LIST %>
    <%= f.input :quantity, input_html: {class: "avg", value: 1 } %>
    <%= f.select :category_id, Category.alphabetical.all.map(&:name) %>
    <%= f.input :notes, as: :text, input_html: { class: "materialize-textarea" } %>
    <%= f.input :donated, as: :boolean, boolean_style: :inline %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  </fieldset>
<% end %>
