<%= simple_form_for(@item) do |item_form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= item_form.input :name, input_html: {class: "avg"} %>
    <%= item_form.input :gender, collection: ['Boy', 'Girl'], as: :radio_buttons, input_html: {class: "avg"} %>
    <%= item_form.input :age, collection: ['a', 'b', 'c'],input_html: {class: "avg"} %>
    <%= item_form.input :quantity, input_html: {class: "avg"} %>
    <%= item_form.input :category_id, collection: Category.all, input_html: {class: "avg"} %>
    <div class="actions">
      <%= item_form.submit %>
    </div>
  </fieldset>
<% end %>
