<%= simple_form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.input :name, input_html: {class: "avg"} %>
    <%= f.input :category, collection:['Coloring book', 'Snack', 'Dental item', 'Big item', 'Reading book'], as: :radio_buttons %>
    <%= f.input :quantity, input_html: {class: "avg"} %>
    <div class="actions">
      <%= f.submit %>
  </fieldset>
<% end %>
