<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :barcode %><br>
    <%= f.text_field :barcode, disabled: true %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, :value => 1%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%# f.number_field :gender %>
    <%= f.select(:gender, Item::GENDER_LIST) %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%# f.number_field :age %>
    <%= f.select(:age, Item::AGE_LIST) %>
  </div>

  <div class="field">
    <%# f.label :type, 'Donation' %><br>
    <%= f.check_box :type%>
    <%= f.label :type, 'Donation'%>
    <%# f.radio_button :type, false %>
    <%# f.label :type, 'Bought' %>
  </div>

  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%# f.number_field :category_id %>
    <%= f.select(:category_id, categories) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
