<%= simple_form_for @item, html: { class: 'form--inline' } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6">
      <h6>NAME</h6>
      <%= f.input :name, label: false, prompt: 'Name' %>
    </div>
    <div class="input-field col s12 m6">
      <h6>BARCODE</h6>
      <%= f.input :barcode, label: false, input_html: { value: @item.barcode } %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <h6>GENDER</h6>
      <% Item::GENDER_LIST.each do |g| %>
        <%= f.radio_button :gender, g %>
        <%= f.label :gender, g, :value => g %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
    <h6>AGE GROUP</h6>
      <% Item::AGE_LIST.each do |a| %>
        <%= f.radio_button :age, a %>
        <%= f.label :age, a, :value => a %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <h6>CATEGORY</h6>
      <%= f.select :category_id, Category.alphabetical.all.collect {|c| [c.name, c.id] }, include_blank: 'Select a category' %>
    </div>
    <div class="input-field col s4">
      <h6>CURRENT QUANTITY:</h6>
      <div class="item_stat">
        <% if !@item.quantity.nil? %>
          <%= @item.quantity %>
        <% else %>
          0
        <% end %>
      </div>
    </div>
    <div class="input-field col s4">
      <h6>INCREASE QUANTITY BY</h6>
      <%= f.input :quantity, label: false, as: :integer, input_html: { value: 1 } %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <h6>NOTES</h6>
      <%= f.input :notes, label: false, as: :text, input_html: { class: "materialize-textarea" } %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <%= f.input :donated, as: :boolean, boolean_style: :inline %>
    </div>
  </div>
  <div class="row">
    <br><br><br>
    <div class="actions">
      <%= f.submit 'Update Item', class: 'pink waves-effect waves-light btn' %>
    </div>
  </div>  
<% end %>

