<div id="results">
<% if @items.empty? or @items.nil? %>
  <p><em>There are no items in this category.</em></p>
<% else %>
  <ul class="collection">
  <% @items.each do |item| %>
    <li class="collection-item avatar">
      <i class="material-icons circle green">shopping_basket</i>
      <span class="title"><%= link_to item.name, item_path(item.id) %></span>
      <p>Age: <%= item.age %><br>
         Gender: <%= item.gender %>
      </p>
      <a href="#!" class="secondary-content"><span class="badge"><%= item.quantity %></span></a>
      <%= link_to 'Add to Cart', add_to_cart_path(item.id) %>
      <%= link_to 'Show', item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Check In', new_item_path, class: 'pink waves-effect waves-light btn' %>
<%= link_to 'Check Out', checkout_path, class: 'orange waves-effect waves-light btn' %>
<%= link_to 'Add a category', new_category_path %>

</div>