<!DOCTYPE html>
<html>
<head>
  <title>Bbinventory</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Top bar NAVIGATION -->
  <div>
    <%= render 'partials/top_nav' %>
  </div>
  <div id="main">
  <div class="row">
    <div class="col s12" id="main_content">
      <%= render :partial => "partials/flash" %>
      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </div>
  </div>
  <footer class="page-footer light-blue lighten-1">
    <div class="col s12" id="footer">
      <%= render partial: 'partials/footer' %>
    </div>
  </footer> 
</body>
</html>
